* {
  margin:0;
  padding:6px;
}

body {
  background:#FFFFFA;
}

header {
  width:100%;
}

header nav {
  width:90%;
  max-width:1000px;
  margin:20px auto;
  background:#024959;
}

.menu_bar {
  display:none;
}

header nav ul {
  overflow:hidden;
  list-style:none;
}

header nav ul li {
  float:left;
}

header nav ul li a {
  color:#fff;
  padding:20px;
  display:block;
  text-decoration:none;
}

header nav ul li span {
  margin-right:10px;
}

header nav ul li a:hover {
  background:#037E8C;
}

section {
  padding:20px;
}

@media screen and (max-width:800px ) {
  header nav {
    width:80%;
    height:100%;
    left:-100%;
    margin:0;
    position: fixed;
  }

  header nav ul li {
    display:block;
    float:none;
    border-bottom:1px solid rgba(255,255,255, .3);
  }

  .menu_bar {
    display:block;
    width:100%;
    background:#ccc;
  }

  .menu_bar .bt-menu {
    display:block;
    padding:20px;
    background:#024959;
    color:#fff;
    text-decoration:none;
    font-weight: bold;
    font-size:25px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
  }

  .menu_bar span {
    float:right;
    font-size:40px;
  }
}
.portada{
  background-color: white;
 }

.nombre {
  padding-top: 10%;
}

p{
  font-size: 22px;
   font-family: 'Raleway', sans-serif;
}

.materia {
  display: inline-block;
}

img {
  max-width: 100%;
}

.perfil {
 border-radius: 300px;
  width: 20%;
  height: 20%;
}

.trabajos {
  margin: 5%;
  width: 50%;
  height: 50%;
  display: inline;


.menu {
  background-color: #C4689B;
  color: #F7EFF4;
}

.Junior {
  background-color: #F7EFF4;
  color: #C4689B;
}
 
.valeska {
  background-color: #C4689B;
  color: #F7EFF4;
}

.habilidades {
  background-color: #F7EFF4;
  color: #C4689B;
}

.proyectos {
  background-color: #C4689B;
  color: #F7EFF4;
}

.fin {
  background-color: #F7EFF4;
  color: #C4689B;
}

ul{
  margin-bottom: 0px;
}
/*codigo video de fondo
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
fin del codigo de video*/

